<div>
    <form class="contenedor-formulario" method="POST" action="/category/new">
        <h2>Ver Categoría</h2>
        <div class="mb-3">
            <label for="exampleCategoria" class="form-categoria">Categoría</label>
            <label>{{Categoria}}</label>
        </div>
        <div class="mb-3">
            <label for="exampleCategoria" class="form-categoria">Activo</label>
            <label>{{Activo}}</label>
        </div>

        <div class="mb-3">
            <img src="/images/{{UID}}" alt="">
        </div>

        <div class="buttom">
            <button type="button" class="btn btn-secondary">Cancelar</button>
        </div>
    </form>
</div>