<div class="Container__Body">
    <form class="contenedor-formulario" method="POST" action="/admin/category/new">
        <h2>Ver Categoría</h2>
        <div class="mb-3">
            <label for="exampleCategoria" class="form-categoria">Categoría</label>
            <label>{{Categoria}}</label>
        </div>
        <div class="mb-3">
            <label for="exampleCategoria" class="form-categoria">Activo</label>
            <label>{{Activo}}</label>
        </div>

        <div class="mb-3">
            <img class="Formulario__Imagen-Preview" src="/images/{{UID}}" alt="">
        </div>

        <div class="divButtons">
            <a href="/admin/category/list/" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>