<div>
    <form class="contenedor-formulario">
        <h2>Nuevo Estado de Pedido</h2>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">Estado de Pedido</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Activo
                </label>
            </div>

        </div>
        <div class="divButtons">
            <button type="button" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary">Cancelar</button>
        </div>

    </form>
</div>