<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/empanadas.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/mila.png" class="d-block w-100" alt="...">
    </div>
    {{!-- <div class="carousel-item">
      <img src="/pizza muzza.jpg" class="d-block w-100" alt="...">
    </div> --}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="Welcome__Container contraste">
  <div class="Welcome__Title Welcome__Container-Row">
    Bienvenido a TuRestoOnline
  </div>
  <div class="Welcome__SubTitle Welcome__Container-Row">
    Tu punto de venta Online
  </div>
  <div class="Welcome__Description Welcome__Container-Row">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
  <div class="Welcome__AboutUs Welcome__Container-Row">
    <button type="button" class="btn btn-secondary">Leer Mas</button>
  </div>
</div>
<div class="Promotions__Container">
  <div class="Promotion">
    <img class="Promotion__Imagen" src="/pizza_promo.jpg" alt="">
  </div>
  <div class="Promotion">
    <img class="Promotion__Imagen" src="/empanadas_promo.jpg" alt="">
  </div>
  <div class="Promotion">
    <img class="Promotion__Imagen" src="/mila_promo.jpg" alt="">
  </div>
</div>
<div class="MeetUs__Container contraste">
  <div class="MeetUs__Maps MeetUs__Container-Child">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.01688788953!2d-58.38375908519529!3d-34.60373446500512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1617396474725!5m2!1ses-419!2sar"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="MeetUs__Description MeetUs__Container-Child">
    <div class="MeetUs__Description-Title MeetUs__Description-Child">
      Donde Encontrarnos
    </div>
    <div class="MeetUs__Description-Comment MeetUs__Description-Child">
      Podes encontrarnos en el Obelisco, CABA.
    </div>
    <div class="MeetUs__Description-DaysOpen MeetUs__Description-Child">
      <i class="far fa-clock"></i>
      Lun a Vie de 9hs a 22hs
    </div>
    <div class="MeetUs__Description-Tel MeetUs__Description-Child">
      <i class="fas fa-mobile-alt"></i>
      Tel: 11999999
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.carousel').carousel()
  })
</script>