<div class="login_box">
    <img class="avatar" src="img/logo.png" alt="logo del login">
    <h1>Iniciar Sesion</h1>
    <form>
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">

        <input type="submit" value="Iniciar Sesion">

        <a href="#">¿Has Olvidado Tu Contraseña?</a><br>
        <a href="#">Crear una Cuenta</a>
    </form>
</div>