<div>
    <form class="contenedor-formulario">
        <h2>Ver Pedido</h2>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">ID:</label>
                <label> {{ID}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Fecha:</label>
                <label> {{Fecha}} </label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Direccion Envio:</label>
                <label> {{DireccionEnvio}} </label>

            </div>
        </div>
        <div class="divButtons">
            <type="button" class="btn btn-secondary">Cancelar</type=>
        </div>

    </form>
</div>