<div class="contenedor-pedido row">
    <div class="menu columna-pedido col-md-10">
        <div class="titulo-categoria row">
            Milanesas
        </div>
        <div class="lista-productos row">
            <div class="col-md-6">
                <div class="producto">

                    <div class="imagen-producto">
                        <img src="https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png"
                            alt="">
                    </div>
                    <div class="detalle-producto">
                        <div class="titulo-producto">
                            Milanesa Napolitana con Fritas
                        </div>
                        <div class="descripcion-producto">
                            Milanesa echa al horno, con jamon y queso, salsa y Fritas
                        </div>
                        <div class="precio-boton-producto">
                            <label class="precio-producto">
                                $500
                            </label>
                            <button type="button" class="btn btn-primary" id="btnGuardar">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="producto">

                    <div class="imagen-producto">
                        <img src="https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png"
                            alt="">
                    </div>
                    <div class="detalle-producto">
                        <div class="titulo-producto">
                            Milanesa a Caballo
                        </div>
                        <div class="descripcion-producto">
                            Milanesa a Caballo echa Frita, con Ensalada
                        </div>
                        <div class="precio-boton-producto">
                            <label class="precio-producto">
                                $600
                            </label>
                            <button type="button" class="btn btn-primary" id="btnGuardar">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="producto">
                    <div class="imagen-producto">
                        <img src="https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png"
                            alt="">
                    </div>
                    <div class="detalle-producto">
                        <div class="titulo-producto">
                            Milanesa de Berenjena
                        </div>
                        <div class="descripcion-producto">
                            Milanesa de Berenjena echa al horno, con arroz, huevo y salsa de guacamole
                        </div>
                        <div class="precio-boton-producto">
                            <div class="precio-container">
                                <label class="precio-producto">
                                    $500
                                </label>
                            </div>
                            <div class="agregar-container">
                                <button type="button" class="btn btn-primary" id="btnGuardar">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="producto">

                    <div class="imagen-producto">
                        <img src="https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png"
                            alt="">
                    </div>
                    <div class="detalle-producto">
                        <div class="titulo-producto">
                            Milanesa Suprema Napolitana
                        </div>
                        <div class="descripcion-producto">
                            Milanesa Suprema Napolitana echa al horno, con jamon y queso, salsa de tomate y Fritas
                        </div>
                        <div class="precio-boton-producto">
                            <label class="precio-producto">
                                $700
                            </label>
                            <button type="button" class="btn btn-primary" id="btnGuardar">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pedido columna-pedido col-md-2">
        <div class="form-pedido">
            <div class="titulo-pedido">
                <h2> Pedido </h2>
            </div>

            <div class="producto-pedido">
                <ul class="lista-productos-pedidos">
                    <li>
                        <i class="fas fa-minus-circle"></i>
                        <span class="cart-item">
                            pizza 4 quesos
                        </span>
                        <span class="cart-item item-price">
                            $1030
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-minus-circle"></i>
                        <span class="cart-item">
                            milanesa
                        </span>
                        <span class="cart-item item-price">
                            $1200
                        </span>
                    </li>
                </ul>
            </div>

            <div class="total-pedido">
                <span class="texto-total">
                    Total
                </span>
                <span class="total-cart">
                    $1100
                </span>
            </div>

            <div class="botones-pedido">
                <button type="button" class="btn btn-primary">Realizar Pedido</button>
            </div>

        </div>
    </div>
</div>