<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="/admin/registro/create">
                <h2>Registrar Usuario</h2>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" name="Nombre" />
                        <label class="validacion" id="lblValidacionNombre"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="inputApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="inputApellido" name="Apellido" />
                        <label class="validacion" id="lblValidacionApellido"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="emailClase col-6">
                        <label for="inputEmail" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="inputUserName" name="UserName" />
                        <label class="validacion" id="lblValidacionEmail"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="emailClase col-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="example@outloock.com"
                            name="Email" />
                        <label class="validacion" id="lblValidacionEmail"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="passwordClase col-md-12">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" name="Password" />
                        <label class="validacion" id="lblValidacionPassword"></label>
                    </div>
                </div>
                <div class="divButtons">
                    <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var estaOk = true;
        $("#btnGuardar").click(function () {
            var nombre = $("#inputNombre").val();
            if (nombre == "") {
                $("#lblValidacionNombre").text("este campo no puede estar vacio");
                estaOk = false;
            } else {
                $("#lblValidacionNombre").text("");
                if (nombre.length > 50) {
                    $("#lblValidacionNombre").text("la longitud maxima de este campo es de 50 caracteres");
                    estaOk = false;
                } else {
                    $("#lblValidacionNombre").text("");
                }
            }


            var apellido = $("#inputApellido").val();
            if (apellido == "") {
                $("#lblValidacionApellido").text("este campo no puede estar vacio");
                estaOk = false;
            } else {
                $("#lblValidacionApellido").text("");
                if (apellido.length > 50) {
                    $("#lblValidacionApellido").text("la longitud maxima de este campo es de 50 caracteres");
                    estaOk = false;
                } else {
                    $("#lblValidacionApellido").text("");
                }
            }


            var email = $("#inputEmail").val();
            if (email == "") {
                $("#lblValidacionEmail").text("este campo no puede estar vacio");
                estaOk = false;
            } else {
                $("#lblValidacionEmail").text("");
                if (email.length > 50) {
                    $("#lblValidacionEmail").text("la longitud maxima de este campo es de 50 caracteres");
                    estaOk = false;
                } else {
                    $("#lblValidacionEmail").text("");
                }
            }



            var password = $("#inputPassword").val();
            console.log(password);
            debugger;
            if (password == "") {
                $("#lblValidacionPassword").text("este campo no puede estar vacio");
                estaOk = false;
            } else {
                $("#lblValidacionPassword").text("");
                if ((password.length < 8) || (password.length > 12)) {
                    console.log("erro")
                    $("#lblValidacionPassword").text("la contraseña debe tener un minimo de 8 caracteres y un maximo de 12 caracteres");
                    estaOk = false;
                } else {
                    console.log("no error")
                    $("#lblValidacionPassword").text("");
                }
            }
            if (estaOk)
                $("form").submit();


        });
    });
</script>