<form class="contenedor-formulario" method="POST" action="/deliveryType/new">
    <H2>Ver Tipo de Entrega</H2>
    <div class="row">
        <div class="col-md-12">
            <label for="inputFormaDePago" class="form-label">Tipo De Entrega:</label>
            <label>{{deliveryType.DeliveryType}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label> Activo: </label>
            <label>{{deliveryType.Activo}}</label>
        </div>

    </div>
    <div class="divButtons">
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>
</form>