<form class="contenedor-formulario" method="POST" action="/paymentType/new">
    <H2>Ver Forma de Pago</H2>
    <div class="row">
        <div class="col-md-12">
            <label for="inputFormaDePago" class="form-label">Forma de Pago</label>
            <label> {{PaymentType.PaymentType}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label> Activo: </label>
            <label> {{PaymentType.Activo}} </label>

        </div>

    </div>
    <div class="divButtons">
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>
</form>